body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.model-view-css-fix{
  object-fit: contain;
  width: 80vw;
  height: 80vh;
}
model-viewer {
  width: 80vw;
  height: 80vh;
} 

